body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.hide {
  display: none;
}

.container {
  margin: auto;
  position: relative;
}

header nav {
  height: 79vw;
  max-height: 1200px;
  padding-right: 5px;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#hero-img,
#hero-img-lg {
  width: 100%;
  position: absolute;
  z-index: -1;
}
#hero-img-lg {
  display: none;
}

.nav-links {
  color: rgb(6, 62, 137);
}

.middle-nav-links {
  line-height: 100px;
  font-size: 200%;
  display: none;
}

.last-nav-link {
  line-height: 100px;
  font-size: 200%;
  position: absolute;
  right: 0;
  top: 0;
}

.right-nav-links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 5px;
  width: 25%;
  min-width: 500px;
}

#pin-img {
  width: 48px;
  display: inline;
}

.location-text {
  display: none;
}

h1 {
  width: 126px;
}

#h1-logo {
  width: 126px;
}

h2 {
  text-align: center;
  font-size: 32px;
  color: rgb(6, 62, 137);
}

#reviews-section {
  position: relative;
  top: -45px;
}

#reviews-h2 {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  border-top: black 2px solid;
  border-bottom: none;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

h2 img {
  width: 80%;
  max-width: 200px;
}

.reviews {
  display: flex;
  width: 90%;
  max-width: 1160px;
  min-width: 270px;
  overflow-x: scroll;
  margin: auto;
  max-width: 290px;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.review {
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 20px;
  text-align: center;
  padding: 10px 10px 30px;
  font-size: 18px;
  position: relative;
  height: fit-content;
  background-color: white;
}

.review p:first-child {
  height: 130px;
}

.review img {
  width: 200px;
  margin-top: 7px;
}

.review .reviewer-name {
  position: absolute;
  bottom: 5px;
  right: 10px;
  text-align: right;
}

.scroll-arrow {
  font-size: 120px;
  display: none;
  position: absolute;
  z-index: 200;
  top: 175px;
  cursor: pointer;
  background-color: rgba(235, 235, 235, 0.8);
  color: rgb(6, 62, 137);
  padding-bottom: 20px;
  width: 75px;
}

.scroll-arrow-left {
  left: 7px;
}
.scroll-arrow-right {
  right: 7px;
}

#inventory-section {
  position: relative;
}

#inventory-section h2 {
  padding-bottom: 5px;
  font-size: 12vw;
}

#inventory-section > p {
  text-align: center;
  margin-bottom: 15px;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.car-card {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: rgb(235, 235, 235);
}

.car-card:hover {
  flex-basis: 310px;
  height: 310px;
  margin: 5px;
}

h3 {
  font-size: 20px;
  text-align: center;
  padding: 13px;
}

.car-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.car-card-text {
  background-color: rgb(235, 235, 235);
  position: relative;
  transition: 0.3s;
  top: 0;
}

.car-card:hover .car-card-text {
  top: -135px;
}

.car-highlights {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.car-card ul {
  list-style-type: disc;
  margin-left: 40px;
  padding-bottom: 20px;
  line-height: 18px;
}

.arrow-link {
  position: absolute;
  right: 12px;
  bottom: -10px;
  width: 40px;
  height: 24px;
}

.arrow-link img {
  width: 100%;
  height: 100%;
}

footer {
  height: 60px;
  background-color: rgb(6, 62, 137);
  color: white;
  font-size: 24px;
  line-height: 60px;
}

footer > div {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.footer-img {
  width: 30px;
  position: relative;
}

.footer-img-low {
  top: 6px;
}

.footer-text {
  color: white;
}

@media (min-width: 680px) {
  .reviews {
    max-width: 580px;
  }
}

@media (min-width: 760px) {
  #reviews-h2 {
    width: 70%;
  }
  #inventory-section h2 {
    padding-bottom: 5px;
    font-size: 100px;
  }
  .middle-nav-links {
    display: inline;
  }
  .med-up-text {
    display: inline;
  }
  .last-nav-link {
    position: static;
  }
  #pin-img {
    width: 24px;
  }
}

@media (min-width: 900px) {
  .reviews::-webkit-scrollbar {
    display: none;
  }
  .reviews {
    scrollbar-width: none;
  }
  .scroll-arrow {
    display: block;
  }
}

@media (min-width: 990px) {
  .reviews {
    max-width: 870px;
  }
}
@media (max-width: 1200px) {
  .footer-text {
    display: none;
  }
}

@media (min-width: 1300px) {
  .reviews {
    max-width: 1160px;
  }
}

@media (min-width: 1440px) {
  #hero-img-lg {
    display: inline;
  }
  #hero-img {
    display: none;
  }
  #reviews-section {
    top: -220px;
  }
  #inventory-section {
    top: -130px;
  }
}

@media (min-width: 1900px) {
  #reviews-section {
    position: relative;
    top: -60px;
  }
  #inventory-section {
    top: -40px;
  }
}

@media (min-width: 2400px) {
  .container {
    max-width: 2240px;
  }
  #reviews-section {
    position: relative;
    top: -100px;
  }
}
