h1 {
  width: calc(100% - 136px);
  font-size: 25px;
  min-height: 96px;
  color: rgb(6, 62, 137);
  padding: 5px;
  text-align: center;
}
#price-and-miles {
  font-size: 20px;
  margin-top: 6px;
}

#price-and-miles {
  color: rgb(194, 194, 194);
}

#price-and-miles span {
  color: black;
}

#nla-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 126px;
}

.h1-link {
  position: relative;
  margin-top: 15px;
  display: inline-block;
}

#rev-arrow {
  padding-left: 15px;
  width: 30px;
  padding-bottom: 2px;
}

header nav {
  height: auto;
  padding-right: 0;
}

#images-section {
  margin-top: 20px;
}

#focused-image {
  max-width: 1400px;
  height: 60vw;
  max-height: 1000px;
  margin: auto;
  text-align: center;
  position: relative;
}

#focused-image .arrow {
  position: absolute;
  bottom: 50%;
  background-color: rgba(38, 38, 38, 0.796);
  color: white;
  border-radius: 50%;
  padding: 10px 13px 12px;
  cursor: pointer;
}

#focused-image .arrow:hover {
  background-color: rgba(38, 38, 38, 0.95);
}

#arrow-previous {
  left: 1%;
  display: none;
}

#arrow-next {
  position: absolute;
  right: 1%;
}

#focused-image img {
  height: 100%;
}

#image-gallery {
  width: 80%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#image-gallery div {
  height: 20vw;
  max-height: 200px;
  padding: 10px;
}

#image-gallery div img {
  height: 100%;
  cursor: pointer;
}

#image-gallery div img.active {
  border: solid 4px rgb(6, 62, 137);
}

#details-section {
  width: 70%;
  margin: auto auto 40px;
}

#details-section h2 {
  text-align: left;
  margin: 30px;
}

ul {
  list-style-type: disc;
  margin-left: 40px;
  padding-bottom: 20px;
  line-height: 18px;
}

@media (min-width: 760px) {
  #arrow-previous {
    left: 4%;
  }

  #arrow-next {
    right: 4%;
  }
  h1 {
    font-size: 32px;
  }
  #price-and-miles {
    font-size: 24px;
  }
}

@media (min-width: 1080px) {
  h1 {
    width: 100%;
    font-size: 36px;
  }
  #price-and-miles {
    font-size: 28px;
  }
}

@media (min-width: 1500px) {
  #arrow-previous {
    left: -20px;
  }

  #arrow-next {
    right: -20px;
  }
}
